---
import { siteConfig } from '../config';

const year = new Date().getFullYear();
---

<footer class="site-footer">
  <p>&copy; {year} {siteConfig.author}</p>
</footer>

<style>
  .site-footer {
    background-color: #010101;
    padding: 18px 20px;
    text-align: center;
    color: #989898;
    margin-top: 40px;
  }

  .site-footer p {
    margin: 0;
    font-size: 0.95rem;
  }
</style>
